# Dependencies
/node_modules/

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment / local config
.env
.env.local
config.local.php

# Editor / IDE
.vscode/
.idea/
*.swp

# OS / misc
Thumbs.db
